#teams .team-container .hackers-container {
	width: 60%;
	text-align: center;
	display: block;
}

#teams .team-container .details .team-name {
	font-size: 26px;
	font-weight: bold;
	display: block;
	text-align: center;
}

#teams .team-container .details .award {
	font-size: 9px;
	display: block;
	text-align: center;
}

#teams .team-container {
	cursor: pointer;
	width: 90%;
	margin: 15px auto;
	background: #fff;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.2);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.2);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.2);
	transition: box-shadow .5s;
}

#teams .team-container:hover {
	margin: 15px auto;
	background: #fff;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0px 0px 20px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0px 0px 20px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         0px 0px 20px 0px rgba(50, 50, 50, 0.4);
	transition: box-shadow .5s;
}


#teams .team-container .triangle {
	width: 0;
	height: 0;
	border-bottom: 50px solid #FC0000;
	border-right: 50px solid transparent;
	position: absolute;
	line-height: 75px;
	left: 0;
	bottom: 0;
	color: #fff;
}

#teams .team-container .hackers-container {
	width: 46%;
	display: inline-block;
}

#teams .team-container .hackers-container a.hacker {
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 75px;
	display: inline-block;
}

#teams .team-container .hackers-container a.hacker img {
	height: 100%;
	width: 100%;
}

#teams .team-container .details {
	width: 40%;
	display: inline-block;
	
}

#teams .team-container.first {
	width: 100%;
	margin-top: 0px;
}

#teams .team-container .points {
	width: 14%;
	line-height: 65px;
	vertical-align: top;
	font-size: 22px;
	font-weight: bold;
	color: red
}

#teams .team-container.first .details .team-name {
	font-size: 30px;
}

#teams .team-container.first .hackers-container {
	width: 45%;
}

#teams .team-container.first .hackers-container a.hacker {
	width: 70px;
	height: 70px;
}